* {
    box-sizing: border-box;
  }

#container{
    height: 770px;
    width: 770px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
}

#reset{
  position: absolute;
  height: 30px;
  width: 100px;
  background-color: cadetblue;
  border-width: 0px;
  float: left;
  top: 50%;
}